version: 2
updates:
      
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "[CI] "
    groups:
      ci-actions:
        patterns: ["*"]

# Python/pip dependencies are in requirements.txt, but don't specify specific versions.
